.main {
    width: 100%;
    height: 100%;
}

.wave-top {
    fill: var(--background);
    background-color: var(--middleground);
    display: block;
}

.wave-bottom {
    fill: var(--middleground);
    background-color: var(--background);
    display: block;
}