:root {
    --background: #09000e;
    --middleground: #170023;
    --foreground: #8d00e8;
    --text-color: #f4e6fd;
    --heading-color: white;
    --icon-color: white;
    --discord-color: #6800f1;
}