@use "./globals.scss";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Poppins&display=swap&family=Black+Ops+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

::selection {
  color: globals.$background;
  background: globals.$foreground;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  background-color: globals.$background;
}