.feature {
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 10px;
    flex-direction: row;
    align-items: center;
}

.feature-info {
    width: 40%;
    word-wrap: break-word;
    font-size: 12pt;
}

.feature-info h2 {
    color: var(--heading-color);
    font-family: 'Fredoka', sans-serif;
}

.feature-info p {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

.feature img {
    width: 50%;
    max-width: 350px;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0px 5px 10px black;
    transition: all 100ms linear;
}