@use "../globals.scss";

.footer {
    width: 100%;
    background-color: #9d6df7;
    display: flex;
    position: relative;
    bottom: 0;
    justify-content: center;
}

.footer-left, .footer-right {
    width: 40%;
    color: globals.$heading-color;
}

.footer-left > h3, .footer-right > h3 {
    font-size: 20pt;
    margin-bottom: 5px;
    font-family: 'Fredoka', sans-serif;
}

.footer-left p, .footer-right p {
  text-decoration: none;
  color: globals.$text-color;
  width: fit-content;
  background-image: linear-gradient(0deg, transparent, transparent);
  background-position: 0 100%, 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px, 0% 3px;
  transition: background-size 300ms ease-in-out;
  font-family: 'Poppins', sans-serif;
}

.footer-left p:hover, .footer-right p:hover {
  background-size: 100% 3px, 100% 3px;
  background-image: linear-gradient(0deg, globals.$middleground, globals.$middleground);
  transition: background-size 300ms ease-in-out;
}

.footer-wave > svg {
    fill: globals.$background;
    background-color: globals.$foreground;
    display: block;
}

.ft-copyright {
  background-color: globals.$foreground;
  color: globals.$text-color;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 30px 0;
}

.ft-copyright a {
  color: globals.$text-color;
  text-decoration: none;
  transition: all 100ms ease;
}

.ft-copyright a:hover {
  color: globals.$middleground;
  text-decoration: underline;
}