.footer {
    width: 100%;
    background-color: var(--foreground);
    padding: 10px 50px;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
}

.footer-left, .footer-right {
    width: 50%;
    color: var(--heading-color);
    font-family: 'Fredoka', sans-serif;
}

.footer-left p, .footer-right p {
  width: fit-content;
  background-image: linear-gradient(0deg, transparent, transparent);
  background-position: 0 100%, 0 100%;
  background-repeat: no-repeat;
  background-size: 0% 3px, 0% 3px;
  transition: background-size 300ms ease-in-out;
}

.footer-left p:hover, .footer-right p:hover {
  background-size: 100% 3px, 100% 3px;
  background-image: linear-gradient(0deg, var(--middleground), var(--middleground));
}

.footer-wave {
    fill: var(--foreground);
    background-color: transparent;
    display: block;
}