@use "../globals.scss";

.header {
    background-color: globals.$foreground;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px 10px;
    user-select: none;
}

.header-icon {
    width: 32px;
    fill: globals.$icon-color;
    display: block;
    transition: all 500ms ease;

}
.header-icon:hover {
    transform: scale(1.1, 1.1);
}

.header-left, .header-right {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: globals.$text-color;
    font-family: 'Poppins', sans-serif;
}

.header-left a {
    text-decoration: none;
}

.items {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 10pt;
}

.items a {
    transition: all 300ms ease;
    word-break: break-all;
    color: globals.$text-color;
}

.items a:hover {
    transform: scale(1.1, 1.1);
}

.items a:active {
    transform: scale(0.9, 0.9);
}