@use "../globals.scss";

.main {
    width: 100%;
    height: 100%;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro h1 {
    color: globals.$heading-color;
    font-family: 'Fredoka', sans-serif;
}

.intro p {
    color: globals.$text-color;
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
}

.intro-buttons {
    margin-top: 20px;
}

.intro-buttons button {
    background-color: globals.$foreground;
    color: globals.$text-color;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    padding: 10px;
    border-radius: 20px;
    transition: all 300ms ease;
}

.intro-buttons button:hover {
    transform: scale(1.1, 1.1);
}

.intro-buttons button:active {
    background-color: globals.$middleground;
}

.discord-color {
    color: globals.$discord-color;
}

.discord-color::selection {
    color: white;
    background-color: globals.$discord-color;
}