.logo {
    color: var(--heading-color);
    font-family: 'Fredoka', sans-serif;
    user-select: none;
    font-size: 28pt;
    transition: all 300ms ease;
}

.logo:hover {
    transform: scale(1.1, 1.1);
}