@use "../globals.scss";

.nf-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    user-select: none;
}

.nf-title {
    color: globals.$text-color;
    font-family: 'Black Ops One', cursive;
    font-size: 8em;
    animation: glitch 5s linear infinite;
}

.nf-descripton {
    color: globals.$text-color;
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
}

.nf-back {
    color: globals.$foreground;
    text-decoration: none;
}

.nf-back:hover {
    text-decoration: underline;
}

@keyframes glitch {
    3% { text-shadow: 7px 7px 0px rgb(255, 0, 0); }
    6% { text-shadow: -9px 4px 0px rgb(0, 0, 255); transform: translate(4px, -10px) skewX(3240deg); }
    7% { text-shadow: 3px -4px 0px rgb(0, 255, 0); }
    9% { text-shadow: 0px 0px 0px white; transform: translate(0px, 0px) skewX(0deg); }
    2% , 54% { transform: translateX(0px) skew(0deg); }
    55% {transform: translate(-2px, 6px) skew(-5530deg); }
    56% { text-shadow: 0px 0px 0px white; transform: translate(0px, 0px) skew(0deg); }
    57% { text-shadow: 7px 7px 0px rgb(255, 0, 0); transform: translate(4px, -10px) skew(-70deg); }
    58% { text-shadow: 0px 0px 0px white; transform: translate(0px, 0px) skew(0deg); }
    62% { text-shadow: 3px -4px 0px rgb(0, 255, 0); transform: translate(0px, 20px) skew(0deg); }
    63% { text-shadow: 0px 0px 0px white; transform: translate(4px, -2px) skew(0deg); }
    64% { transform: translate(1px, 3px) skew(-230deg); }
    65% { transform: translate(-7px, 2px) skew(120deg); }
    66% { transform: translate(0px, 0px) skew(0deg); }
}